.complexity {
  margin-top: -700px;
   /* margin-left: 30px; */
  font-size: 20px;
  color: black;
  position: relative;
}

.form-group{
  padding-bottom: 10px;
}

hr {
  margin-bottom: 3rem;
}

label {
  /* padding: 15px; */
  /* margin-left: 0px */
}

.card {
  padding-left: 30px;
  padding-right: 30px;
  /* padding-top: 30px; */
}

body > div.container-fluid.h-100 > div > nav{
  height: 130%;
}
