/*
.card-title {
  margin-bottom: 10px;
} */


.complexity {
  margin-top: -620px;
  margin-left: 23px;
  font-size: 18px;
  color: #3e8acc;
  position: relative

}

hr {
margin-bottom: 5em;
}

/* .form-group{
  padding-bottom: 20px;
} */

/* label {
  padding: 20px;
  margin-left: -20px
} */
