<div class="container-fluid h-100">
    <div class="row h-100">
      {{>dashboardNav}}
        <div class="col-sm-9 col-md-10">
            <div style="padding: 30px; color: #525B74;">
                <br><br>
                <h1 style= "text-align: center; font-size: 50px; font-weight: bold;" >Hello {{formatName user.name}}, select a patient to continue.</h1>
                <br><br>
                <form style= "padding-left: 50px;">
                  <!div style="padding: 0px;">
                    <label id="searchLabel" for="mySearch" style="display:block; color: #428BCA; font-size: 25px; font-weight: bold;">Search by Patient ID</label>
                    <input type="input" id="search" name="q" onkeyup="filter()" style= "padding-left: 50px;">
                    <button id="searchButton" onclick="search()" style= "padding-bottom: 3px;">SEARCH</button>
                    <span class="validity"></span>
                 <!/div>
               </form>
               <br><br>    
               <!div class="card">
                    <!div style="padding: 20px">
                       <ul id ="ul" class = "ul">
                          {{#each users}}
                             <li style= "padding: 10px">
                               <div class="listButtons">
                                 <a href= '/clinician/patientexercises/{{this}}' style="color: #525B74;">{{this}}</a>
                               </div> 
                             <li>
                          {{/each}}
                       </ul>
                    <!/div>
                <!/div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../public/css/styleSheet.css">
<script type="text/javascript" src="../../public/scripts/clinician.js"></script>
