<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
     <div class="col-sm-9 col-md-10">
       <div id="mainContent">
         <br><br>
         <h1>Select an exercise.</h1>
         <h3>You are currently working with Patient {{patientId}}.</h3>
         <br>
         <form>
           <div class="form-group">
             <div class="search">
               <span class="fa fa-search"></span>
                 <input type="search" class="form-control" id="search" onkeyup="filter()" placeholder:"Search by Patient ID">
              </div>
              <span id="AddExrcsSpan">
                <button type="button" class="btn btn-primary" id="addExercise" onclick="addExr()">
                  <span>ADD EXERCISE <i class="fa fa-plus"></i></span>
                </button>
             </span>
           </div>              
         </form>
         <br><br>    
         <ul>
           {{#each exercises}}
             <li>
               <div class="listButtons">
                 <a href= '/userexercise/session/start/{{this._id}}/{{patientId}}'>{{this.exerciseName}}</a>
               </div> 
             <li>
          {{/each}}
        </ul>
      </div>
    </div>
   </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/css/styleSheet/viewPatientExercises.css">
<script type="text/javascript" src="../../public/scripts/clinician.js"></script>

