<div style="padding-top:100px; color:#525B74;">
  <div class="row text-center">
    <div class="col-md-5 col-centered">
      <h3 style="font-size:50px;">Welcome to ExerciseCheck</h3>
      <p style="font-size:30px;">
        ExerciseCheck is a remote monitoring and evaluation platform for home base physical therapy.
        Please go to dashboard for more information.
      </p>
     </div>
  </div>
  <!--<div class="row text-center">-->
    <!--<div class="col-md-2 col-centered">-->
       <!--{{#if user}}-->
         <!--<button class="btn" id="logout" onclick="logut()">LOGOUT</button>-->
       <!--{{else}}-->
         <!--<button class="btn" id="login" onclick="login()">LOG IN</button>-->
       <!--{{/if}}-->
       <!--<span style="float:right;">-->
         <!--{{#if user}}-->
         <!--<button class="btn" id="myAccount" onclick="account()">MY ACCOUNT</button>-->
         <!--{{else}}-->
         <!--<button class="btn" id="signup" onclick="signup()">SIGN UP</button>-->
         <!--{{/if}}-->
       <!--</span>-->
    <!--</div>-->
  <!--</div>-->
</div>

<link rel="stylesheet" href="public/css/styleSheet/index/index.css">
<script type="text/javascript" src="public/scripts/index/index.js"></script>
