<div class="container" style="padding-top: 60px">
  <h3>Welcome to ExerciseCheck.</h3>
  <hr>
  ExerciseCheck is a remote monitoring and evaluation platform for individuals involved in a home exercise program. The goal of the platform is to give patients feedback about their performance and, if needed, and how they should adjust their movements.
</div>

