<div style="padding-top:100px; color:#525B74;">
  <div class="row text-center">
    <div class="col-md-5 col-centered">
      <h3 style="font-size:50px;">Welcome to ExerciseCheck</h3>
      <p style="font-size:30px;">
        ExerciseCheck is a remote monitoring and evaluation platform for home base physical therapy. 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do teme cididunti ut labore et dolore magna aliqua enim adores.
        Ready to start? Log in or sing up below.
      </p>
     </div>
  </div>
  <div class="row text-center">
    <div class="col-md-2 col-centered">
       <button class="btn" id="login" onclick="login()">LOG IN</button>
       <span style="float:right;">
         <button class="btn" id="signup" onclick="signup()">SIGN UP</button>
       </span>
    </div>
  </div>
</div>
 
<link rel="stylesheet" href="../public/css/styleSheet/index/index.css">
<script type="text/javascript" src="../public/scripts/index/index.js"></script>
