<div class="container-fluid h-100">

  <div class="row h-100">
      {{>dashboardNav}}

    <div class="col-sm-9 col-md-10">

      <div style="padding: 30px">
        <h3>Create Exercise</h3>
        <hr>
        <div class="card">
          <div style="padding: 20px">
            <form id="form">
              <div id="formFields"></div>
              <label for="instructions" class="label"> Instructions</label>
              <div class="form-group">
<<<<<<< Updated upstream
                <!-- <input id="instructions"></input> -->
                <input id="instructions" input type="string" class="form-control" id="JoiFormInputInstructions" name="instructions" placeholder="Enter Instructions" onkeyup="validate('instructions')">
              </div>
              <label for="refVideoLinks" class="label">Reference Video URLs</label>
              <div class="form-group">
                <!-- <input id="instructions"></input> -->
                <input id="refVideoLinks" input type="string" class="form-control" id="JoiFormInputVideoLinks" name="refVideoLinks" placeholder="Enter Reference Video URLs" onkeyup="validate('refVideoLinks')">
=======
                <input class="form-control" id="JoiFormInputInstructions" aria-describedby="" placeholder="Enter Instructions" onkeyup="validate('instructions')">
              </div>
              <label for="videoURLs" class="label"> Video URLs</label>
              <div class="form-group">
                <input class="form-control" id="JoiFormInputURLs" aria-describedby="" placeholder="Enter Reference Video URLs" onkeyup="validate('videoURLs')">
>>>>>>> Stashed changes
              </div>
              <label for="impJoint" class="label">Most Important Joint</label>
              <div class="form-group">
                <select type="number" class="form-control" id="impJoint" aria-describedby="" placeholder="" value={{defaultJoint}}>
                  {{> jointList}}
                </select>
              </div>
              <label for="impAxis" class="label">Moving Pattern</label>
              {{> axis}}
              <label for="direction" class="label">Starting Direction</label>
              {{> direction}}

              <button id="create" type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="public/scripts/exercise/create.js"></script>
