<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Create Exercise</h3>
        <hr>
        <div class="card">
          <div style="padding: 20px">
            <form id="form">
              <div id="formFields"></div>
              <label for="impJoint" class="label">Most Important Joint</label>
              <div class="form-group">
                <select type="number" class="form-control" id="impJoint" aria-describedby="" placeholder="" value={{defaultJoint}}>
                  {{> jointList}}
                </select>
              </div>
              <label for="impAxis" class="label">Axis</label>
              {{> axis}}
              <label for="direction" class="label">Direction</label>
              {{> direction}}
              <label for="lowerJoint" class="label">Reference Lower Joint</label>
              <div class="form-group">
                <select type="number" class="form-control" id="refLowerJoint" aria-describedby="" placeholder="" value={{defaultJoint}}>
                  {{> jointList}}
                </select>
              </div>
              <label for="upperJoint" class="label">Reference Upper Joint</label>
              <div class="form-group">
                <select type="number" class="form-control" id="refUpperJoint" aria-describedby="" placeholder="" value={{defaultJoint}}>
                  {{> jointList}}
                </select>
              </div>
              <button id="create" type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/exercise/create.js"></script>
