
.black {
  color: #525B75;
}

.blueColor {
  color: #1E89FB;
}

.curiousBlueColor {
  color: #428BCA
}

.blueBackground {
  background-color: #1E89FB;
}

.blueBackground:hover {
  background-color: #1E89FB;
}

.curiousBlue {
  background-color:#428BCA;
}

.curiousBlue:hover {
  background-color:#428BCA;
}

.red {
  background-color: #FF3860;
}

.red:hover {
  background-color: #FF3860;
}

.white {
  color: white;
}











