h1 {
  text-transform: capitalize !important;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color: black;


}

.instructions {
  font-size: 25px;
  margin-left: 40px;
}

li.text {
  margin-top: 20px;
  margin-right: 50px;
}

.button {
  position: absolute;
  align-items: center;
}


.button-wrapper-1, .button-wrapper-2 {
  /* margin-left: 45px; */
  margin-top: 50px;
  text-align: center;
  display: inline-block;

}

#button-container {
  text-align: center;
}

/* .button-wrapper-2 {
  /* margin-left: 45px; */
  /* margin-top: 10px;
  text-align: center;

} */


.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }


#ref-button-1 {
  background-color: #35d503;
  border-color: #35d503;
}

#ref-button-2 {
  background-color: #35d503;
  border-color: #35d503;
}

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
