.body {margin:2rem;}

.button {
  position: absolute;
}


.button-wrapper {
  /* margin-left: 45px; */
  margin-top: 50px;
  text-align: center;

}

.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;

.goal{
  margin-top: 20px;
  margin-left: 20px;
  font-style: italic;
}

h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;

}

.instructions {
  font-size: 25px;
  margin-left: 40px;
}

li.text {
  margin-top: 50px;
  margin-right: 50px;
}

.modal-body {
  position:relative;
  padding:0px;
}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }
