h1 {
  text-transform: capitalize !important;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color: black;


}

.instructions {
  font-size: 25px;
  margin-left: 40px;
}

li.text {
  margin-top: 50px;
  margin-right: 50px;
}


.body {margin:2rem;}

.button {
  position: absolute;
}


.button-wrapper {
  /* margin-left: 45px; */
  margin-top: 50px;
  text-align: center;

}

.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;





/* .modal-body {
  position:relative;
  padding:0px;
  width: 100px;
} */

/* .modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  } */
