
 .list-group-item {
     background-color:white;
     margin-top: 5px;
     box-shadow: 0px 5px #d9d9d9;
     height: 70px;
  }

  .col-md-6 {
    float: none;
    margin: 0 auto;
    margin-top:5%;
  }

  .changeMembersBtn {
     //color: #8A2BE2;
     color:#000000;
     border:none;
     background-color:white;
  }

  .list-group-item-heading {
     color: #525B75;
  }

  .list-group-item-text {
    color: gray;
    font-size: 13px;
  }

  #clinicianList .search {
    display:inline-block;
    position:relative
  }

  #clinicianList .search .fa-search {
    position: absolute;
    top: 45px;
    right:10px;
    font-size: 20px;
    color: gray;
  }

  #search {
    width:300px;
    height:40px;
    border:solid 2px #525B75;
    border-radius:5px;
    margin-left:0;
 }

  #searchLabel {
    display:block;
    color: #525B75;
    font-size: 25px;
    font-weight: 500;
  }

  .labels {
    color: #525B75;
    font-size: 20px;
    font-weight: bold;
  }

  #clinicians {
    width: 100%;
  }

  #patients {
    width: 100%;
  }

  #submitPatientsBtn {
    margin-top: 15px;
  }

   #submitClinicianBtn {
    margin-top: 15px;
  }

  #submitPatientsBtn {
    background-color: #708090;
    border: none;
    font-weight: bold;
    color: white;
  }
