.bodyCanvas {
  padding-left: 0;
  padding-right: 0;
  left: 100px;
  margin-left: auto;
  margin-right: auto;
  background: grey;
  display: none;
  height: 500px;
  width: 500px;
}

.small {
  font-size: 23px;
}

.large {
  font-size: 30px;
  font-weight: 600;
}

.secondSection {
  font-size: 30px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.actionBtn {
  width:250px;
  border:none;
  font-weight:bold;
}

#discard {
  margin-top:10px;
}

#updateReference {
  margin-bottom:10px;
}

.mh1 {
    height: 100vh; /* 100% of viewport height*/
}

#cover {
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  overflow: hidden;
}

#num {
  font-size: 64px;
  color: orangered;
}
