.bodyCanvas {
  padding-left: 0;
  padding-right: 0;
  left: 100px;
  margin-left: auto;
  margin-right: auto;
  background: #DDDEE3;
  display: none;
  height: 500px;
  width: 500px;
}

.small {
  font-size: 23px;
}

.large {
  font-size: 30px;
  font-weight: 600;
}

.secondSection {
  font-size: 30px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.actionBtn {
  width:250px;
  border:none;
  font-weight:bold;
}

#discard {
  margin-top:10px;
}

#updateReference {
  margin-bottom:10px;
}

.mh1 {
    height: 100vh; /* 100% of viewport height*/
}

#cover {
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  overflow: hidden;
}

#num {
  font-size: 64px;
  color: orangered;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
