.bodyCanvas {
  padding-left: 0;
  padding-right: 0;
  left: 100px;
  margin-left: auto;
  margin-right: auto;
  background: grey;
  display: inline;
  height: 500px;
  width: 500px;
}

.small {
  font-size: 23px;
}

.large {
  font-size: 30px;
  font-weight: 600;
}

.secondSection {
  font-size: 30px;
  line-height: 30px;
  margin-top:60px;
  margin-bottom:60px;

}

.actionBtn {
  width:250px;
  border:none;
  font-weight:bold;
}

#discard {
  margin-top:10px;
}

#updateReference {
  margin-bottom:10px;
}

.mh1 {
    height: 100vh; /* 100% of viewport height*/
}

