
#title {
  margin-top:120px;
  color:#525B74;
  font-size:45px;
  font-weight:bold;
}

.label {
  float:left;
  color:#428BCA;
  font-size:120%;
  font-weight:bold;
  display:block;
}

#loginForm input {
  height:45px;
  border-radius:5px;
  border:2px solid #428BCA;
}

#save {
  color: #428BCA;
  font-size: 17px;
  float: left;
  font-weight: bold;
  border: none;
  background: none;
}

#refExercise{
  color: #428BCA;
  font-size: 24px;
  font-weight: bold;
  float:left;
  margin-top:20px;
  margin-bottom:1px;
}

#exerciseName {
  color: #428BCA;
  font-size: 24px;
  float:left;
  margin-bottom:1px;
  
}

#sExerciseName {
  color: #428BCA;
  font-size: 24px;
  float:right;
  margin-bottom:1px;
  margin-left:6px;
}


#pExerciseName{
  color: #525B74;
  font-size: 24px;
  float:left;
  margin-bottom:1px;
   
}

#patientName {
  color:#525B74;
  font-size: 24px;
  float:left;
  margin-bottom:1px;
}

#update {
  color: #428BCA;
  font-size: 20px;
  float:left;
  margin-bottom:1px;
  border: none;
  background: none;
  padding-top:0; 
}

#view {
  color: #428BCA;
  font-size: 20px;
  float:left;
  margin-bottom:1px;
  border: none;
  background: none;
  padding-top:0; 
}

#start {
  color: #428BCA;
  font-size: 20px;
  float:left;
  margin-bottom:1px;
  border: none;
  background: none;
  padding-top:0; 
}

#createRef {
  color: #428BCA;
  font-size: 20px;
  float: left;
  margin-bottom: 1px;
  border: none;
  background: none;
}

.actionButtons {
  color: #428BCA;
  font-size: 20px;
  float:left;
  margin-bottom:1px;
}
