<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Timer Test</h3>
        <hr>
        <div class="row">
          <span id="start"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #cover {
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    overflow: hidden;
  }
  #num {
    font-size: 36px;
    color: white;
  }
</style>
<div id="cover">
<span id="num"></span>
</div>
<script>
  $(document).ready(function(){
    $("#num").text("3");
    setTimeout(function(){
      $("#num").text("2");
      setTimeout(function(){
        $("#num").text("1");
        setTimeout(function(){
          $("#num").text("");
          $("#start").text("Time to start!");
          $("#cover").css("display", "none");
          var event = new Event('timer-done');
          elem.dispatchEvent(event);
        }, 1000)
      }, 1000)
    }, 1000)
  });
</script>
<script type="text/javascript" src="/public/scripts/clinician.js"></script>
