<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <div class="row">
          <div class="col-md-8">
             
              <canvas id="bodyCanvas" class="bodyCanvas"></canvas>
             
          </div>
          <div class="col-md-4 text-center col-v-centered no-float">
            <div style="margin-top: 250px;">
              <h1 id="line1">To begin the session,</h1>
              <h1 id="line2">click start.<h1>
              <h3 id="line3">What would you like to do?<h3>
              <h4 id="line4">Current Exercise: '{{exercise.exerciseName}}'<h4>
              <div class="btn btn-primary" id="startSession" onclick="start()">START</div>
              <div class="btn btn-primary" id="discard" onclick="start()">DISCARD & RESTART</div>         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="../../public/css/styleSheet/beginSession.css">
<script type="text/javascript" src="/public/scripts/userexercise/beginsession.js"></script>
