<div class="container-fluid h-100">
  <div class="row">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px;">
        <div class="row mh1">
          <div class="col-md-8">
            <canvas id="bodyCanvas" class="bodyCanvas"></canvas>
          </div>
          <div class="col-md-4 text-center col-v-centered no-float">
            <div id= "firstSection">
              <p id="line1">Current Exercise:</p>
              <div class= "small">
                <p>10 {{exercise.exerciseName}}s</p>
                <p>Set 2 of 2 </p>
              </div>
              <div class="blue">
                <h1 id="line4">To begin the set,<h1>
                <h2 id="line5">click Start.<h2>
              </div>
              <div>
                <button type="button" class="btn btn-primary" id="startSession" onclick="start()">START</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="../../public/css/styleSheet/start.css">
<script type="text/javascript" src="/public/scripts/userexercise/start.js"></script>
