<div class="container-fluid h-100">
  <div class="row">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <div class="row mh1">
          <div class="col-md-8">
            <canvas id="bodyCanvas" class="bodyCanvas"></canvas>
          </div>
          <div class="col-md-4 text-center col-v-centered no-float">
            <div id="firstSection">
              <p id="line1">Current Exercise:</p>
              <div class= "small">
                <p>{{numRepetition}} {{exercise.exerciseName}}s</p>
                <p>Set {{setNumber}} of {{numSets}}</p>
              </div>
              <div class="blue">
                <h1 id="line4">Set ended.<h1>
                <h2 id="line5">What would you like to do?<h2>
              </div>
              <div>
                {{#if user.roles.clinician}}
                  <button class="btn btn-primary" id="updateReference" onclick="updateRef()">UPDATE REFERENCE</button>
                {{/if}}
                <button class="btn btn-primary" id="save" onclick="save()">SAVE SET</button>
                <button class="btn btn-primary" id="discard" onclick="discard()">DISCARD & RESTART</button>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/public/css/styleSheet/stop.css">
 
