<div class="container-fluid h-100">
    <div class="row h-100">
      {{>dashboardNav}}
        <div class="col-sm-9 col-md-10">
            <div style="padding: 30px">
                <h1 align="center">Hello {{user.name}}, Select an exercise to continue.</h1>
                <h3 align="center" style="color:#F00">Your last session was on {{formatDate lastSession}}.</h3> 
                <br><br><br>
                <form>
                  <div>
                    <label for="mySearch">Search for exercises</label>
                    <input type="search" id="search" name="q" placeholder="search for an exercise" onkeyup="f()">
                    <button onclick="search()">Search</button>
                    <span class="validity"></span>
                 </div>
               </form>
               <br>    
               <div class="card">
                    <div style="padding: 20px">
                       <ul id ="ul" class = "ul">
                          {{#each exercises}}
                             <li style="list-style-type: none;">
                               <div class="listButtons">  
                                 <a class="btn" href="/userExercise/" + {{this._id}}>{{this.exerciseName}}</a>
                               </div> 
                             <li>
                          {{/each}}
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../public/css/styleSheet.css">
<script type="text/javascript" src="../../public/scripts/userexercise/viewexercise.js"></script>
