<!-- <div>

    <h1>{{exerciseName}}</h1>
    {{#each exerciseName.}}
        <div> {{Instructions}} </div>
    {{/each}}

</div> -->


<!-- <script type="text/javascript" src="../templates/userexercise/exerciseInfo.js"></script> -->
