<div class="container" style="padding-top: 60px">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sign Up</h4>
          <hr>
          <form id="signupForm">
            <div id="signUpFormFields"></div>
            <button id="signup" type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
      <div class="complexity">*Password must include 8-20 characters, 1 lowercase, 1 uppercase, and 1 special character*</div>
    </div>
  </div>
</div>
<style>
  body {
    background-color: #bbb;
  }
</style>
<script type="text/javascript" src="public/scripts/signup.js"></script>
<link rel="stylesheet" type="text/css" href="public/css/signup.css">
