<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding:30px">
       <div class="row text-center">
         <div class="col-md-8" style="float: none;margin: 0 auto; padding:40px">
           <h4 style="font-size:35px;color:#525B74;">Welcome to ExerciseCheck</h4>

           <img style="margin: 0 auto; display: block; width: 60%;" src="public/images/leadership.png">

         </div>
      </div>
     </div>
    </div>
   </div>
</div>
