<div class="form-group">
  <select type="text" class="form-control" id="impAxis" aria-describedby="" placeholder="" value={{defaultImpAxis}}>
    <option value="depthX">X-axis</option>
    <option value="depthY">Y-axis</option>
  </select>
</div>
