<div class="form-group">
  <select type="text" class="form-control" id="impAxis" aria-describedby="" placeholder="" value={{defaultImpAxis}}>
    <option value="depthY">Up and down</option>
    <option value="depthX">Side to side</option>
    <option value="CameraZ">Forwards and backwards (not implemented yet)</option>
  </select>
</div>
