<div class="form-group">
  <select type="text" class="form-control" id="direction" aria-describedby="" placeholder="" value={{defaultImpAxis}}>
    <option value="up">Up</option>
    <option value="down">Down</option>
    <option value="L2R">Left to Right</option>
    <option value="R2L">Right to Left</option>
  </select>
</div>
