<nav class="navbar navbar-expand-md static-top" style="background:#428BCA;">
  <a class="navbar-brand" href="" style="color:white;">{{projectName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="" style="color:white;">HOME</a>
      </li>
      {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="dashboard" style="color:white;">DASHBOARD</a>
          </li>
      {{/if}}
    </ul>
    {{#if user}}
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="account" style="color:white;">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout" style="color:white;">Logout</a>
        </li>
      </ul>
    {{else}}
      <ul class="navbar-nav my-2 my-lg-0" style="color:white;">
        <li class="nav-item">
          <a class="nav-link" href="login" style="color:white;">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup" style="color:white;">SIGN UP</a>
        </li>
      </ul>
    {{/if}}
  </div>
</nav>
