.bodyCanvas {
  padding-left: 0;
  padding-right: 0;
  left: 100px
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: grey;
  display: block;
  height: 95%;
  width: 100%;
}
 
.small {
  font-size: 25px;
}

.large {
  font-size: 40px;
}

.secondSection {
  font-size: 35px;
  line-height: 30px;
  margin-top:60px;
  margin-bottom:60px;
}

.actionBtn {
  width:250px; 
  border:none;
}

#discard {
  margin-top:10px;
}

#updateReference {
  margin-bottom:10px;
}

.mh1 {
    height: 100vh; /* 100% of viewport height*/
}

.red:hover {
  background-color: #FF3860;
}

.darkBlue:hover {
  background-color:#428BCA;
}

.blueBackground:hover {
  background-color: #1E89FB;
}

.actionBtn:hover {
  box-shadow: 2px 5px #D3D3D3;
  font-weight: bold;
} 

