.listButtons {
  width: 70%;
  height: 45px;
  border: 1px solid #E8F3FF;
  border-radius: 5px;
  background-color:#E8F3FF;
  text-align: left;
  font-size:20px;
  text-indent: 15px;
  -webkit-column-break-inside: avoid;
}

.ul {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


.search {
  display:inline-block;
  position:relative
}

.search .fa-search {
  position: absolute;
  top: 45px;
  right:10px;
  font-size: 20px;
  color: gray;
  font-weight: none;
}


#search {
  width:300px;
  height:40px;
  border:solid 2px #428BCA;
  border-radius:5px;
  margin-left:0;
}

#searchLabel {
  display:block;
  color: #428BCA;
  font-size: 25px;
  font-weight: 500;
} 



