<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Welcome to Exercise Check!</h3><br>
        {{#unless user.roles.root}}
            <a href="../refexercises/play">View your reference exercise</a>
            <br>
            <a href="../userexercise/viewexercises">View list of exercises</a>
        {{else}}
            Hi there! Welcome to the Exercise Check Admin interface.
        {{/unless}}
          <hr>
      </div>
    </div>
   </div>
</div>