<div class="container-fluid h-100">
    <div class="row h-100">
      {{>dashboardNav}}
        <div class="col-sm-9 col-md-10">
            <div class="contentPadding">
                <h1>Hello {{formatName user.name}}, Select an exercise to continue.</h1>
                <h3>Your last session was on {{formatDate lastSession}}.</h3> 
                <br><br><br>
                <form>
                  <div class="form-group">
                    <div class="search">
                       <span class="fa fa-search"></span>
                      <input type="search" class="form-control" id="search" onkeyup="filter()">
                    </div>
                  </div>
               </form>
               <br>
               <ul id ="ul" class = "ul">
                 {{#each exercises}}
                   <li class="listButtons">
                     <a href= '/userexercise/session/start/practice/{{this._id}}' class="listItem">{{formatName this.exerciseName}}</a>
                  </li>
                 {{/each}}
             </ul>
             <button onclick="topFunction()" id="scrollToTop" title="Go to top"><i class="fa fa-arrow-up"></i></button>
        </div>
     </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/css/styleSheet/viewExercise.css">
<link rel="stylesheet" href="../public/css/styleSheet/scrollToTop.css">
<script type="text/javascript" src="../public/scripts/patient/viewexercise.js"></script>
<script type="text/javascript" src="../public/scripts/scrollToTop.js"></script>
