<div class="container-fluid h-100" xmlns:placeholder="http://www.w3.org/1999/xhtml">
    <div class="row h-100">
    {{>dashboardNav}}
      <div class="col-sm-9 col-md-10">
        <div style="color: #525B74;">
          <br><br>
          <h1 class= "greeting" >Hello {{formatName user.name}}, select a patient to continue.</h1>
        </div>
          <br><br>
          <form style= "padding-left: 50px;">
            <div class="form-group">
              <div class="search">
                <span class="fa fa-search"></span>
                <label id="searchLabel" for="search">Search by Patient name
                  <input type="search" class="form-control" id="search" onkeyup="filter()" placeholder:"Search by Patient name">
                </label>
             </div>
           </div>
         </form>
         <br><br>
         <ul id ="ul" class = "ul">
           {{#each patients}}
             <li class="listButtons">
               <a href= 'clinician/patientexercises/{{this.patientId}}'" title='{{this.name}}'>{{formatName this.name}}</a>
            </li>
          {{/each}}
         </ul>
         <button onclick="topFunction()" id="scrollToTop" title="Go to top"><i class="fa fa-arrow-up"></i></button>
     </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="public/css/styleSheet/viewPatients.css">
<link rel="stylesheet" href="public/css/styleSheet/scrollToTop.css">
<link rel="stylesheet" href="public/css/styleSheet/genericStyles.css">
<script type="text/javascript" src="public/scripts/scrollToTop.js"></script>
<script type="text/javascript" src="public/scripts/clinician.js"></script>

