.listButtons {
  width: 70%;
  height: 50px;
  border: 1px solid #E8F3FF;
  border-radius: 12px;
  background-color: #E8F3FF;
  text-align: left;
  font-size:25px;
  
}


.ul {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#myInput {
    
    width: 100%;  
    font-size: 16px;  
    padding: 12px 20px 12px 40px;  
    border: 1px solid #ddd;  
    margin-bottom: 12px;  
}

.bodyCanvas {
   padding-left: 0;
   padding-right: 0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   background: grey;
   display: block;
   height: 500px;
   width: 900px;

}
