.listButtons {
  width: 100%;
  border: 1px solid green;
  border-radius: 12px;
  background-color: white;
  text-align: center;
  color: white;
}


.ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#myInput {
    
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
