#myInput {
    
    width: 100%;  
    font-size: 16px;  
    padding: 12px 20px 12px 40px;  
    border: 1px solid #ddd;  
    margin-bottom: 12px;  
}

.bodyCanvas {
   padding-left: 0;
   padding-right: 0;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   background: grey;
   display: block;
   height: 500px;
   width: 900px;

}
